.link {
  text-decoration-color: none;
  font-style: normal;
  text-decoration: none;
}

.list {
  list-style-type: none;
}

body {
  font-family: "Roboto", Montserrat, sans-serif;
  color: var(--first-color-text);
  background-color: var(--acent-color-background-text);
}

img {
  display: block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

textarea {
  resize: none;
}

.conteiner {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .conteiner {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, ol {
  padding-left: 0;
  margin: 0;
}

.current::after {
  position: absolute;
  top: 260%;
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background-color: var(--acent-color);
  border-radius: 2px;
}

:root {
  --first-color-text: #757575;
  --second-color-text: #212121;
  --acent-color-background-text: #FFFFFF;
  --acent-color: #2196F3;
  --background-color-dark: #2F303A;
  --background-color-grey: #F5F4FA;
  --background-color-logo: #AFB1B8;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
.logo span {
  color: var(--acent-color);
}

.logo--footer {
  color: var(--acent-color-background-text);
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ECECEC;
}
.header .conteiner {
  display: flex;
  align-items: center;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14x;
  letter-spacing: 0.02em;
  color: var(--second-color-text);
  transition: color 250ms var(--cubic);
}
.header-link:hover {
  color: var(--acent-color);
}
.header-link:focus {
  color: var(--acent-color);
}

.header-pages {
  margin-left: 93px;
  display: flex;
}
.header-pages .link.current {
  color: var(--acent-color);
  position: relative;
}

.contact-block {
  display: flex;
  justify-self: center;
}

.header-contact {
  display: flex;
  margin-left: 215px;
}

.header-contact__item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-right: 50px;
  color: var(--first-color-text);
  transition: color 250ms var(--cubic);
}
.header-contact__item:hover {
  color: var(--acent-color);
}
.header-contact__item:focus {
  color: var(--acent-color);
}
.header-contact__item mail {
  margin-right: 50px;
}

.header-pages__item:not(:last-child) {
  margin-right: 50px;
}

.header-contact__icon {
  fill: var(--background-color-logo);
  margin-right: 10px;
  transition: fill 250ms var(--cubic);
}
.header-contact__item:hover .header-contact__icon {
  fill: var(--acent-color);
}
.header-contact__item:focus .header-contact__icon {
  fill: var(--acent-color);
}

.hero {
  background-color: var(--background-color-dark);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/first-page/bgimg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  padding: 0px 15px;
}
.hero .conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 118px 0px;
}
@media only screen and (min-width: 1600px) {
  .hero .conteiner {
    padding: 200px 0px;
  }
}
.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--acent-color-background-text);
  max-width: 360px;
  margin-bottom: 30px;
}
@media only screen and (min-width: 1600px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    max-width: 696px;
  }
}

.hero__btn {
  background-color: var(--acent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--acent-color-background-text);
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transform: background-color;
}
.hero__btn:hover, .hero__btn:focus {
  background-color: #188CE8;
  transition: background-color 250ms var(--cubic);
}

.benefits {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
}
@media only screen and (min-width: 1200px) {
  .benefits {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.benefits-list {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 1200px) {
  .benefits-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.benefits-item {
  width: 100%;
  margin-bottom: 30px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .benefits-item {
    width: calc(50% - 30px);
  }
  .benefits-item:nth-child(2n-1) {
    margin-right: 30px;
  }
}

.benefits-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: var(--background-color-grey);
  border-radius: 4px;
  margin-bottom: 30px;
}

.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-color-text);
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .benefits-title {
    text-align: left;
  }
}

.benefits-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.our-work {
  padding-bottom: 94px;
}
.our-work .conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-work-item:not(:last-child) {
  margin-right: 30px;
}

.our-work-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-work-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--acent-color-background-text);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.our-work-list {
  display: flex;
  flex-direction: row;
}

.our-work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--second-color-text);
  margin-bottom: 50px;
}

.teamt {
  background-color: var(--background-color-grey);
  padding: 94px 0px;
}

.teamt .conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teamt-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--second-color-text);
  margin-bottom: 50px;
}

.teamt-list {
  display: flex;
  margin-left: -30px;
}

.teamt-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-color-text);
  margin-bottom: 10px;
}

.teamt-profession {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.teamt-item {
  background-color: var(--acent-color-background-text);
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  padding-bottom: 30px;
}

.teamt-foto {
  margin-bottom: 30px;
}

.team-soc-connect {
  display: flex;
  justify-content: center;
}

.team-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--acent-color-background-text);
  border-radius: 50%;
  transition: background-color 250ms var(--cubic);
}
.team-soc-link:hover, .team-soc-link:focus {
  background-color: var(--acent-color);
}

.team-soc-logo {
  fill: var(--background-color-logo);
  transition: fill 250ms var(--cubic);
}
.team-soc-link:hover .team-soc-logo, .team-soc-link:focus .team-soc-logo {
  fill: var(--acent-color-background-text);
}

.team-soc-ikon:not(:last-child) {
  margin-right: 10px;
}

.portfolio .conteiner {
  padding-bottom: 100px;
  padding-top: 85px;
}

.portfolio-title, .project-title {
  display: none;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-btn {
  background-color: var(--background-color-grey);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--second-color-text);
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  transition: background-color 250ms var(--cubic), color 250ms var(--cubic), box-shadow 250ms var(--cubic);
}
.portfolio-btn:hover, .portfolio-btn:focus {
  background-color: var(--acent-color);
  color: var(--acent-color-background-text);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio-item:not(:last-child) {
  margin-right: 8px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  margin-left: -30px;
  margin-bottom: -30px;
}

.project-item {
  width: calc(33.3333333333% - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

.project-item-link {
  display: block;
  box-shadow: none;
  transition: box-shadow 250ms var(--cubic);
}
.project-item-link:hover, .project-item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-color-text);
}

.card-border {
  padding: 20px 24px;
  border: 1px;
  border: 1px solid #EEEEEE;
}

.project-img-box {
  position: relative;
  overflow: hidden;
}

.project-scripture {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  padding-top: 63px;
  padding-left: 24px;
  color: var(--acent-color-background-text);
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  transform: translateY(100%);
  transition: transform 250ms var(--cubic);
}
.project-item-link:hover .project-scripture, .project-item-link:focus .project-scripture {
  transform: translateY(0%);
}

.project-kind {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--first-color-text);
}

.regular-customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.regular-customers-header {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color-text);
}

.regular-customers-ul {
  display: flex;
}

.regular-custom-item:not(:last-child) {
  margin-right: 30px;
}

.regular-custom-box {
  display: block;
  padding: 16px 32px;
  border: 1px solid var(--background-color-logo);
  border-radius: 4px;
  transition: border 250ms var(--cubic);
}
.regular-custom-box:hover, .regular-custom-box:focus {
  border: 1px solid var(--acent-color);
  border-radius: 4px;
}

.regular-custom-icon {
  fill: var(--background-color-logo);
  transition: fill 250ms var(--cubic);
}
.regular-custom-box:hover .regular-custom-icon, .regular-custom-box:focus .regular-custom-icon {
  fill: var(--acent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--cubic), visibility 250ms var(--cubic);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  min-height: 528px;
  background-color: var(--acent-color-background-text);
  transition: transform 250ms;
}
.backdrop.is-hidden .modal {
  transform: rotateZ(180deg);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.modal-close-btn:hover, .modal-close-btn:focus {
  cursor: pointer;
}

.close-btn-img {
  fill: #000000;
  transition: fill 250ms var(--cubic);
}
.modal-close-btn:hover .close-btn-img {
  fill: var(--acent-color);
}

.modal-form {
  padding: 40px;
}

.modal-form-header {
  padding-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color-text);
}

.one-fild-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.fild-icon {
  fill: var(--second-color-text);
}

.checkbox {
  visibility: hidden;
}

.modal-checkbox {
  margin-left: 16px;
  position: relative;
  margin-top: 20px;
}
.modal-checkbox:hover .contract-text {
  color: var(--acent-color);
}

.checkbox-icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--acent-color);
  border-radius: 3px;
  display: none;
}

.contract {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--acent-color);
}

.checkbox-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--second-color-text);
  border-radius: 3px;
  transition: border 250ms var(--cubic);
}
.checkbox-label:focus-within .contract-text {
  color: var(--acent-color);
}
.modal-checkbox:hover .checkbox-label::before {
  border: 2px solid var(--acent-color);
}
.modal-checkbox:focus-within .checkbox-label::before {
  border: 2px solid var(--acent-color);
}

.contract-text {
  padding-left: 5px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--first-color-text);
  transition: color 250ms var(--cubic);
}

.checkbox:checked ~ .checkbox-label::after {
  display: none;
}

.checkbox:checked ~ .checkbox-icon {
  display: block;
}

.modal-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.modal-submit-btn {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: var(--acent-color);
  color: var(--acent-color-background-text);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transform: background-color;
}
.modal-submit-btn:hover, .modal-submit-btn:focus {
  background-color: #188CE8;
  transition: background-color 250ms var(--cubic);
}

.modal-form-label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--first-color-text);
}

.modal-form-fild {
  width: 100%;
  padding-left: 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--cubic);
}
.modal-form-fild:hover, .modal-form-fild:focus {
  border-color: var(--acent-color);
}
.modal-form-fild:hover + .fild-icon, .modal-form-fild:focus + .fild-icon {
  fill: var(--acent-color);
}
.fild-icon:hover .modal-form-fild {
  border-color: var(--acent-color);
}

.input {
  position: relative;
}

.fild-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--second-color-text);
  transition: fill 250ms var(--cubic);
}
.fild-icon:hover, .fild-icon:focus {
  fill: var(--acent-color);
}

.comment {
  height: 120px;
  padding-left: 16px;
  padding-top: 12px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.footer {
  background-color: var(--background-color-dark);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .conteiner {
  display: flex;
}

.conteiner-addres {
  margin-right: 70px;
}

.footer-address {
  margin-top: 20px;
}
.footer-address__item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-address__link {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--acent-color-background-text);
  transition: color 250ms var(--cubic);
}
.footer-address__link:hover, .footer-address__link:focus {
  color: var(--acent-color);
}
.footer-address__link--tel, .footer-address__link--mail {
  color: rgba(255, 255, 255, 0.6);
}

.footer-soc {
  padding-top: 12px;
}
.footer-soc__header {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--acent-color-background-text);
  margin-bottom: 20px;
}
.footer-soc__connect {
  display: flex;
}
.footer-soc__ikon:not(:last-child) {
  margin-right: 10px;
}
.footer-soc__link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms var(--cubic);
}
.footer-soc__link:hover, .footer-soc__link:focus {
  background-color: var(--acent-color);
}
.footer-soc__logo {
  fill: var(--acent-color-background-text);
}

.footer-form {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding-left: 93px;
  padding-top: 12px;
}
.footer-form__label {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--acent-color-background-text);
}
.footer-form__input {
  height: 50px;
  width: 350px;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--background-color-dark);
  color: var(--background-color-logo);
}
.footer-form__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  margin-top: 35px;
  margin-left: 12px;
  border-radius: 4px;
  border: none;
  background-color: var(--acent-color);
  color: var(--acent-color-background-text);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
}
.footer-form__btn:hover, .footer-form__btn:focus {
  background-color: #188CE8;
  transition: background-color 250ms var(--cubic);
}
.footer-form__icon {
  fill: var(--acent-color-background-text);
  margin-left: 10px;
}/*# sourceMappingURL=main.css.map */