@import "./global/reset";
@import "./global/global-settings";
@import "./utils/variables";

//section//
@import "./sections/logo";
@import "./sections/header";
@import "./sections/hero";
@import "./sections/benefits";
@import "./sections/our-work";
@import "./sections/teamt";
@import "./sections/portfolio";
@import "./sections/regular-customers";
@import "./sections/modal";
@import "./sections/futer";




