.benefits {
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0 auto;

    
    @media only screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.benefits-list {
    
    width: 100%;
    
    @media only screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    
    }
    @media only screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
}



.benefits-item {
    width: 100%;
    margin-bottom: 30px;
    margin: 0 auto;
    @media only screen and (min-width: 768px) {
    width: calc(100% /2 - 30px);  
    &:nth-child(2n - 1) {
        margin-right: 30px;
    }
    
    
    }
    
}  

.benefits-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: var(--background-color-grey);
    border-radius: 4px;
    margin-bottom: 30px;
}


.benefits-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-color-text);
    margin-bottom: 10px;
    text-align: center;
    @media screen and (min-width: 480px) {
    text-align: left;
    }
}

.benefits-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    @media screen and (min-width: 480px) {

    
    }
}