.footer {
    background-color: var(--background-color-dark);
    padding-top: 60px;
    padding-bottom: 60px;
    & .conteiner {
        display: flex;
    }
}

.conteiner-addres {
    margin-right: 70px;
}



.footer-address {
    margin-top: 20px;
    &__item:not(:last-child) {
        margin-bottom: 9px;
    }
    &__link {
        font-family: 'Roboto';
        font-style: normal;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--acent-color-background-text);
        transition: color 250ms var(--cubic);
        &:hover, &:focus {
            color: var(--acent-color);
        }
    }
    &__link--tel, &__link--mail {
        color: rgba(255, 255, 255, 0.6);
    }
}


.footer-soc {
    padding-top: 12px;
    &__header {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--acent-color-background-text);
        margin-bottom: 20px;
    }
    &__connect {
        display: flex;
    }
    &__ikon:not(:last-child) {
        margin-right: 10px;
    }
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.1);
        width: 44px;
        height: 44px;
        border-radius: 50%;
        transition: background-color 250ms var(--cubic);
        &:hover, &:focus {
            background-color: var(--acent-color);
            }
    }
    &__logo {
        fill: var(--acent-color-background-text);
    }
}

.footer-form {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding-left: 93px;
    padding-top: 12px;
    &__label {
        display: block;
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--acent-color-background-text);
    }
    &__input {
        height: 50px;  
        width: 350px;
        padding-left: 10px;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        background-color: var(--background-color-dark);
        color: var(--background-color-logo);
    }
    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 50px;
        margin-top: 35px;
        margin-left: 12px;
        border-radius: 4px;
        border: none;
        background-color: var(--acent-color) ;
        color: var(--acent-color-background-text);
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.06em;
        &:hover, &:focus {
            background-color: #188CE8;
            transition: background-color 250ms var(--cubic);
        } 
    }
    &__icon {
        fill: var(--acent-color-background-text);
        margin-left: 10px;
    }
}