.header {
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ECECEC;
    @media only screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-top: 24px;
        padding-bottom: 25px;
        padding-right: 25px;
    }   
    @media only screen and (min-width: 1200px) {
    width: 100%;
    }
    & .conteiner {
        display: flex;
        align-items: center;

            
    }
    
}

.header-nav {
    display: none;
    @media only screen and (min-width: 768px) {
    display: block;
    }
}

.header-pages {
    margin-left: 88px;
    display: flex;
    .link.current { 
        color: var(--acent-color);
        position: relative;
    }
    @media only screen and (min-width: 1200px) {
        margin-left: 93px;
    }
}



.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14x;
    letter-spacing: 0.02em;
    color: var(--second-color-text);
    transition: color 250ms var(--cubic);
    &:hover {
        color: var(--acent-color);
    }
    &:focus {
        color: var(--acent-color);
    }

}


.header-contact {
    display: none;
    @media only screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin-left: 84px;
        & li:not(:last-child) {
            margin-bottom: 10px;
        }

    }
    @media only screen and (min-width: 1200px) {
        flex-wrap: nowrap;
        margin-left: 215px;
        & li:not(:last-child) {
            margin-bottom: 0px;
            margin-right: 50px;
        }
    }
    
}

.header-contact__item {
    display: flex;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--first-color-text);
    transition: color 250ms var(--cubic);
    &:hover {
        color: var(--acent-color);
    }
    &:focus {
        color: var(--acent-color);
    }


    @media only screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.14;
        & mail {
            margin-right: 50px;
        }
    }
}
  



.header-pages__item:not(:last-child) {
margin-right: 50px;
}



.header-contact__icon {
    fill: var(--background-color-logo);
    margin-right: 10px;
    transition: fill 250ms var(--cubic);
    .header-contact__item:hover & {
        fill: var(--acent-color);
    }
    .header-contact__item:focus & {
        fill: var(--acent-color);
    }
}

.mob-menu {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border: none;
    border-radius: 50%;
    &:hover, &:focus {
        cursor: pointer;
    }
    @media only screen and (min-width: 768px) {
    display: none;
    }
    &__icon {
        fill: #000000;
        transition: fill 250ms var(--cubic);
        .mob-menu:hover & {
            fill: var(--acent-color);
        }
    }
}