.no-scroll {
     overflow: hidden;
}

.mob-menu {
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #ffffff;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        overflow-y: auto;
        padding-left: 15px;
        padding-top: 24px;
        padding-bottom: 20px;
        background-color: var(--acent-color-background-text);
        .container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            height: 100%;
        }
        @media only screen and (min-width: 480px) {
            padding-left: 40px;
            padding-top: 48px;
            padding-bottom: 40px;
        }
    @media only screen and (min-width: 768px) {
        display: none;
    }
}




.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}




.mob-menu__link.link.current { 
        color: var(--acent-color);
        position: relative;
    }



.mob-menu-close {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border: none;
    &:hover, &:focus {
        cursor: pointer;
    }
    @media only screen and (min-width: 768px) {
    display: none;
    }
    &__icon {
        fill: #000000;
        transition: fill 250ms var(--cubic);
        .mob-menu-close:hover & {
            fill: var(--acent-color);
        }
    }
}

.mob-menu__item{
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--first-color-text);
    transition: color 250ms var(--cubic);
    &:not(:last-child) {
        margin-bottom: 32px;
    }
    &:hover {
        color: var(--acent-color);
    }
    &:focus {
        color: var(--acent-color);
    }

}

.mob-menu__link {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--second-color-text);
    transition: color 250ms var(--cubic);
    &:hover {
        color: var(--acent-color);
    }
    &:focus {
        color: var(--acent-color);
    }
    @media only screen and (min-width: 480px) {
        font-size: 40px;
        line-height: 1.18;
    }
}
.mob-menu-contact {
    &__item.tel {
        display: inline-block;
        margin-bottom: 32px;
        font-weight: 500;
        font-size: 28px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        color: var(--acent-color);
        @media only screen and (min-width: 480px) {
            font-size: 34px;
            line-height: 1.17;
        }
    }
    &__item.mail {
        display: inline-block;
        margin-bottom: 64px;
        font-weight: 500;
        font-size: 22px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        color: var(--first-color-text);
        transition: color 250ms var(--cubic);
        @media only screen and (min-width: 480px) {
            font-size: 24px;
            line-height: 1.16;
        }
    }
    &__item.mail:hover {
        color: var(--acent-color);
    }
}
.mob-soc {
    max-width: 100%;
    display: inline-flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    @media only screen and (min-width: 480px) {
        font-size: 18px;
        line-height: 1.22;
    }
    &__list:not(:last-child) {
        padding-right: 5px;
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        @media only screen and (min-width: 480px) {
            padding-right: 10px;
        }
    }
    &__list:not(:first-child) {
        padding-left: 5px;
        @media only screen and (min-width: minwidthpx) {
            padding-left: 10px;
        }
    }
}

.mob-soc__link {
    color: var(--acent-color);
}

